@charset "utf-8";

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 100;
  src: url(fonts/NotoSansKR-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 200;
  src: url(fonts/NotoSansKR-Light.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansKR-DemiLight.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansKR-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/NotoSansKR-Medium.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NotoSansKR-Bold.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NotoSansKR-Bold-Hestia.woff) format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/NotoSansKR-Black-Hestia.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Montserrat-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url(fonts/Montserrat-Light.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Montserrat-Bold.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Montserrat-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/Montserrat-ExtraBlack.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Saira-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 200;
  src: url(fonts/Saira-Light.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Saira-Regular.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Saira-Regular.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Saira-Medium.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Saira-Bold.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Saira-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/Saira-Black.woff) format("woff");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 200;
  src: url(fonts/NanumSquareL.woff) format("woff");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumSquareR.woff) format("woff");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NanumSquareB.woff) format("woff");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NanumSquareEB.woff) format("woff");
}

@font-face {
  font-family: "play";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Play-Regular.woff) format("woff");
}

@font-face {
  font-family: "play";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Play-Bold.woff) format("woff");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Lovelace-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 200;
  src: url(fonts/Lovelace-Light.woff) format("woff");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Lovelace-Regular.woff) format("woff");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Lovelace-Medium.woff) format("woff");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Lovelace-Bold.woff) format("woff");
}

@font-face {
  font-family: "Lovelace";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Lovelace-ExtraBold.woff) format("woff");
}

* {
  font-family: "NotoSansKR";
  box-sizing: border-box;
}

/* 여백 초기화 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html,
body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*-------------------------------------------------------------------
    @input style
-------------------------------------------------------------------*/

button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[type="button"],
input[type="reset"],
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
}

/*-------------------------------------------------------------------
    @select
-------------------------------------------------------------------*/
select {
  font-family: "Noto Sans KR";
  font-size: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/sl_btn.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 15px;
  background-color: #fff;
  border: none;
  width: 100%;
}

/*-------------------------------------------------------------------
    @select IE10,11의 네이티브 화살표 숨기기
-------------------------------------------------------------------*/
select::-ms-expand {
  display: none;
}

/*-------------------------------------------------------------------
    @clearfix
-------------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*-------------------------------------------------------------------
    @공통서브
-------------------------------------------------------------------*/

section {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  max-width: 1280px;
  padding: 0px 40px;
  box-sizing: border-box;
}

/* 가로 양옆으로  */
.flex__lrc,
.flex__lrc2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex__lrt,
.flex__lrt2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex__lrb,
.flex__lrb2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

/* 가로 가운데 새로 가운데 */
.flex__cc,
.flex__cc1,
.flex__cc2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex__lrc2 > div,
.flex__lrt2 > div,
.flex__lrb2 > div,
.flex__cc2 > div {
    width: 50%;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.row2,
.row3,
.row4,
.row5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row2 > .col {
    width: 50%;
}

.row3 > .col {
    width: 33.33%;
}

.row4 > .col {
    width: 25%;
}

.row5 > .col {
    width: 20%;
}


@media only screen and (max-width: 640px) {
}
