body {
  font-size:0;
}

section {
  width: 100vw;
  height: 100vh;
  font-size: 0;
}

.nav {
  display: flex;
  position: fixed;
  right:100px;
  top:50%;
  transform: translateY(-50%);
  z-index: 11;
}

.nav div {
  position: relative;
  width: 2px;
  height: 0px;
  background: #fff;
  z-index: 1;
}

.nav div:after {
  content:'';
  position: absolute;
  left:0;
  top:0;
  width:3px;
  height: 20px;
  background: rgba(255,255,255, 0.3);
  z-index: 2;
}

.section1 {
  background: red;
}

.section2 {
  background: blue;
}

.section3 {
  background: yellow;
}

.section4 {
  background: brown;
}

.section5 {
  background: pink;
}


@media only screen and (max-width: 640px) {

}
