<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>

<body>
    <header>
        <nav>
            <div class="inner">
                <div class='flex-lrc'>
                    <div class='item item1'>
                        dropbox paper
                    </div>
                    <div class='item item2'>
                        <div class='flex-lrc'>
                            <div class='item item1'>
                                Dropbox로 계속 진행
                            </div>
                            <div class='item item2'>
                                Dropbox 가입
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
</body>

</html>