<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/locomotive-scroll.css">    
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/gsap.js"></script>
    <script src="../assets/js/gsap_scroll_trigger.js"></script>
    <script src="./js/locomotive-scroll.js"></script>
    <title>로코모티브스크롤</title>
</head>
<style>
    .top1,
    .top2,
    .top3 {
        width: 100vw;
        height: 100vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item1 {
        position: relative;
    }
</style>
<body>
    

    <div data-scroll-container>
        <div class="top1" data-scroll-section>
            <h1 data-scroll>Hey</h1>
            <p data-scroll>👋</p>
        </div>
        <div class="top2" data-scroll-section>
            <h2 data-scroll  class="item1">What's up?</h2>
            <p data-scroll class="item2">😬</p>
        </div>
        <div class="top3" data-scroll-section>
            <h2 data-scroll class="item3">what!!!!!!!!</h2>
            <p data-scroll class="item4">😬</p>
        </div>
    </div>
    

    <script>
        $(function() {    

            gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

            ScrollTrigger.normalizeScroll(true)

            // create the smooth scroller FIRST!
            let smoother = ScrollSmoother.create({
                smooth: 2,
                effects: true,
            });

            // pin box-c when it reaches the center of the viewport, for 300px
            ScrollTrigger.create({
                trigger: ".box-c",
                pin: true,
                start: "center center",
                end: "+=300"
            });

            document.querySelector("button").addEventListener("click", e => {
            // scroll to the spot where .box-c is in the center.
            // parameters: element, smooth, position
            smoother.scrollTo(".box-c", true, "center center");
            
            // or you could animate the scrollTop:
            // gsap.to(smoother, {
            // 	scrollTop: smoother.offset(".box-c", "center center"),
            // 	duration: 1
            // });
            });

            
                        
            
            
        });
    </script>
</body>
</html>